.hdr {
    background-color: #9CD6F4;

}

#booleaner-logo {
    width: 200px;
    margin: 40px 15px;

}

#title {
    margin: 45px 0px 0px 0px;
}

#main-head p {
    color: gray;
    margin: 0;

}

#blue {
    color: #9CD6F4;
}

.to-the-left {
    margin-left: 0;
}

#footer-img {
    font-size: smaller;
    font-weight: lighter;

}