body {
    margin: 0;
}

.hdr {
    background-color: #9CD6F4;

}

#booleaner-logo {
    width: 200px;
    margin: 40px 15px;

}

#title {
    margin: 45px 0px 0px 0px;
}

main {
    margin: 10px;
}

#main-head p {
    color: gray;
    margin: 0;

}

#blue {
    color: #9CD6F4;
}

.no-side-margin {
    margin: 40px 0px 40px 0px;
}

#footer-img {
    font-size: smaller;
    font-weight: lighter;

}

.dot-align {
    padding-left: 15px;
}

#table-head {
    line-height: 17px;
    background-color: #9CD6F4;
    color: white;
    text-align: left;
}

#last-col {
    width: 50%;
}

.odd-row {
    background-color: #DFE5F2;
}

#page-footer {
    background-color: #313A6B;
    height: 50px;

}

#page-footer div {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: small;
}